  <form method="POST" action="/post/create">
    <label for="post[title]">Title</label>
    <input id="post[title]" name="post[title]" type="text"/>
    <label for="post[content]">Content</label>
    <textarea id="post[content]" name="post[content]" rows="10" cols="50" required></textarea>
    <label for="post[tags]">Tags</label>
    <input id="post[tags]" name="post[tags]" type="text" placeholder="tag1, tag2, tag3..."/>
    <input type="submit" value="Submit"/>
  </form>
