$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Anaheim', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Alike Angular", serif;
}

a{
  text-decoration: none;
}

header, nav, #content, footer{
  width: 102.4rem;
  margin: 0 auto;
  margin-top: $spacing-large;
}

header{

  h1{

    a{
      
      &:link, &:visited{
        color: #FFF;
        text-shadow: 0.2rem 0.2rem #000;
      }

      &:hover, &:active, &:focus{
        color: #333;        
      }
    }
  }
}

nav{
  border-top: 0.1rem solid #000;
  border-bottom: 0.3rem double #000;
  height: 3.3rem;

  ul{
    margin: 0 auto;

    li{
      list-style: none outside none;
      display: inline-block;
      padding: $spacing-small 1.5rem;

      &:hover{
        border-bottom: 0.2rem solid #000;
      }

      a{
        color: #000;
      }
    }
  }
}

#content{
  
  .post{
    margin-bottom: $spacing-large;
    padding: $spacing-large 0;
    border-top: 0.1rem dotted #000;
    border-bottom: 0.1rem dotted #000;

    h2{
      text-shadow: 0.1rem 0.1rem #999;
      margin-bottom: $spacing-medium;
      display: inline-block;

      a{
        color: #000;

        &:link, &:visited{
          border-bottom: none;
        }

        &:hover, &:active, &:focus{
          text-shadow: 0.1rem 0.1rem #FFF;
        }
      }
    }

    time{
      float: right;
    }

    .tags{
      margin-bottom: $spacing-small;

      li{
        display: inline;

        &:after{
          content: ", ";
        }

        &:last-child:after{
          content: "";
        }
      }
    }

    .likes{
      
    }

    img{
      margin: 0 auto;
      display: block;
      padding: $spacing-medium $spacing-large;
      border-top: 0.1rem solid #000;
      border-bottom: 0.1rem solid #000;
      max-height: 80rem;
      max-width: 98.4rem;
    }
    
    a{
      color: #000;

      &:link, &:visited{
        border-bottom: 0.1rem dotted #000;
      }

      &:hover, &:active, &:focus{
        border-bottom: none;
      }
    }
  }
}

footer{

}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clear{
  clear: both;
}
